.copy {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.copy h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.subcopy {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.subcopy h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    padding: 0 0 10px 0;
    line-height: 30px;
    font-weight: 400;
}
.hero {
    text-align: center;
}
.porQueElegirnos {
    background-color: #F0F0F0;
    padding-bottom: 40px;
}
.porQueElegirnos h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #30425D;
    font-size: 50px;
}
.porQueElegirnosTexto {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-top: 5px;
}

.queHacemos {
    height: auto;
    background-color: #F0F0F0;
    height: auto;
    padding: 20px 0 20px 0;
    font-family: 'Poppins', sans-serif;
    padding: 100px 70px 70px 15px;
}
.queHacemos h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.queHacemos h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 50px;
}
.queHacemos p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-bottom: 50px;
    color: grey;
}
.boton {
    border: none;
    padding: 15px 40px 15px 40px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #006CFF;
    width: 100%;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.borde {
    border: solid 1px red;
}

.galeria {
    margin: 0;
    padding: 0;
}
.galeria img {
    height: auto;
    width: 100%;
}


.picture {
    margin: 0;
    padding: 0;
}
.picture img {
    height: auto;
    width: 100%;
}
.instagramHero {
    background: url(../../assets/images/ig-hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.instagramHero {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}
.instagramHero h2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    padding: 250px 0 0 0;
}
.cards {
    margin: 0;
    padding: 0;
}
.cards h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: bold;
    padding: 200px 30px 30px 40px;
}
.cards img {
    height: auto;
    width: 100%;
}

.destaque {
    color: #006CFA;
    text-decoration: underline;
}



.franja {
    background-color: #F0F0F0;
}

.navbar {
    background-color: transparent !important;
    border-bottom: solid 1px #D5D5D5;
    height: auto;
    padding: 0;
    margin: 0;
}
.navbar a {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.empezaAvenderMas {
    background-color: #006CFF;
    border: none;
    color: #FFF;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px 0 7px 0;
    border-bottom: solid 7px #000;
    border-radius: 5px;
}


.empezaAvenderOnline h2 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 140px 0 0 0;
}
.empezaAvenderOnline article p  {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.contSeparador {
    margin-bottom: 150px;
    margin-top: 60px;
}

.botonServicios {
    border: none;
    background-color: #FFF;
    color: #0B2D75;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}


.posicionaTuNegocio {
    margin-bottom: 130px;
}
.posicionaTuNegocio h2 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 80px 0 0 0;
}
.posicionaTuNegocio article p  {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

.soporteTecnico h2{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 80px 0 0 0;
}
.soporteTecnico article p  {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

.clientes {
    background-color: #F4F4F4;
    text-align: center;
    padding: 50px 0 50px 0;
}
.colsClientes {
    box-shadow: 10px 22px 15px -4px rgba(0, 0, 0, 0.205);
    -webkit-box-shadow: 10px 22px 15px -4px rgba(0, 0, 0, 0.212);
    -moz-box-shadow: 10px 22px 15px -4px rgba(0, 0, 0, 0.24);
}

.clientes h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 90px;
}

.colsClientes {
    background-color: #FFF;
    border: solid 2px #F4F4F4;
    height: auto;
}


.footer {
    padding: 30px;
    background-color: #F4F4F4;
}
.footer h2 {
    font-size: 13px;
    font-weight: bold;
}
.footer p {
    font-size: 12px;
    line-height: 17px;
    color: grey;
}
.footer a{
    color: grey;
    line-height: 30px;
}


.colsClientes img {
    margin-top: -50px;
}


.opinionClientes {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}


.fmb {
    text-align: center;
    padding: 0;
    margin: 0;
}
.fmb img {
    height: auto;
    width: 100%;
}


.servicios {
    margin-bottom: 50px;
}
.servicios p {
   font-size: 14px;
}
.servicios h2 {
    font-family: 'Poppins', sans-serif;
}
.servicios h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}


.nosotros {
    margin-top: 70px;
    margin-bottom: 70px;
}
.nosotros h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.nosotros p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 33px;
}


.nosotros a {
    color: #333;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
    padding: 5px;
}
.nosotros a:hover {
    background-color: #F0F0F0;
    padding: 5px;
    border-radius: 5px;
}

.tituloServicios {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.textoServios {
    font-family: 'Poppins', sans-serif;
}

.trabajosRealizados {
    height: auto;
    padding-bottom: 70px;
}
.trabajosRealizados h2 {
    font-family: 'Poppins', sans-serif;
}

.contenedorBlog { 
    margin-top: 50px;
    height: auto;
}
.blog {
    height: auto;
    text-align: center;
    margin-bottom: 100px;
}
.colGris {
    background-color: #F4F4F4;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
}
.colGris h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    padding: 15px;
}
.colGris p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 26px;
    padding: 15px;
}
.imgContent {
    height: auto;
    margin: 0;
    padding: 0;
}
.imgContent img {
    height: auto;
    width: 100%;
}

.contenedorPreguntasFrecuentes {
    background-color: #F4F4F4;
    height: auto;
    margin-bottom: 100px;
    padding: 50px 0 50px 0;
}


.contenedorPreguntasFrecuentes h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.contenedorPreguntasFrecuentes article p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-bottom: 60px;
}

.titulos {
    font-family: 'Poppins', sans-serif;
    padding: 40px 0 40px 0;
}


.contacto {
    margin: 70px 0 150px 0;
}
.contacto h2  {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 70px;
}

.imgForm {
    text-align: center;
}

.btnForm {
    border: 0;
    background-color: #30425D;
    color: #FFF;
    padding: 15px;
}
 input {
    height: 50px;
}

.form-control {
    border: 0;
    margin-bottom: 30px;
    border-radius: 0;
}
.colImagenMax {
    margin: 0;
    padding: 0;
}
.colImagenMax img {
    height: auto;
    width: 100%;
}
.textoPortfolio {
    padding: 50px;
    background-color: #F4F4F4;
}
.textoPortfolio h3 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px; 
}
.textoPortfolio p {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 23px;
}
.trabajos {
    height: auto;
    padding: 50px 0 70px 0;
}
.chopitea {
    background-color: #F4F4F4;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.chopitea img {
    height: auto;
    width: 100%;
}
.chopitea h2 {
    font-size: 25px;
    padding: 20px 0 0 15px;
    font-family: 'Poppins', sans-serif;
}
.chopitea p {
    font-size: 14px;
    padding: 10px 0 0 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.chopitea a {
    padding: 0 0 0 15px;
    color: black;
    text-decoration: none;
}
.chopitea a:hover {
    text-decoration: underline;
}

.cba {
    background-color: #F4F4F4;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.cba img {
    height: auto;
    width: 100%;
}
.cba h2 {
    font-size: 25px;
    padding: 20px 0 0 15px;
    font-family: 'Poppins', sans-serif;
}
.cba p {
    font-size: 14px;
    padding: 10px 0 0 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.cba a {
    padding: 0 0 0 15px;
    color: black;
    text-decoration: none;
}
.cba a:hover {
    text-decoration: underline;
}

.raulAlvarez {
    background-color: #F4F4F4;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.raulAlvarez img {
    height: auto;
    width: 100%;
}
.raulAlvarez h2 {
    font-size: 25px;
    padding: 20px 0 0 15px;
    font-family: 'Poppins', sans-serif;
}
.raulAlvarez p {
    font-size: 14px;
    padding: 10px 0 0 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.raulAlvarez a {
    padding: 0 0 0 15px;
    color: black;
    text-decoration: none;
}
.raulAlvarez a:hover {
    text-decoration: underline;
}

.deiloff {
    background-color: #F4F4F4;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.deiloff img {
    height: auto;
    width: 100%;
}
.deiloff h2 {
    font-size: 25px;
    padding: 20px 0 0 15px;
    font-family: 'Poppins', sans-serif;
}
.deiloff p {
    font-size: 14px;
    padding: 10px 0 0 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.deiloff a {
    padding: 0 0 0 15px;
    color: black;
    text-decoration: none;
}
.deiloff a:hover {
    text-decoration: underline;
}

.palladio {
    background-color: #F4F4F4;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.palladio img {
    height: auto;
    width: 100%;
}
.palladio h2 {
    font-size: 25px;
    padding: 20px 0 0 15px;
    font-family: 'Poppins', sans-serif;
}
.palladio p {
    font-size: 14px;
    padding: 10px 0 0 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.palladio a {
    padding: 0 0 0 15px;
    color: black;
    text-decoration: none;
}
.palladio a:hover {
    text-decoration: underline;
}

.inepa {
    background-color: #F4F4F4;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.inepa img {
    height: auto;
    width: 100%;
}
.inepa h2 {
    font-size: 25px;
    padding: 20px 0 0 15px;
    font-family: 'Poppins', sans-serif;
}
.inepa p {
    font-size: 14px;
    padding: 10px 0 0 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}
.inepa a {
    padding: 0 0 0 15px;
    color: black;
    text-decoration: none;
}
.inepa a:hover {
    text-decoration: underline;
}
.navbar-toggler {
    border: none;
}
.collapse {
    height: auto;
    padding-top: 30px;
    line-height: 30px;
}
.clientes a {
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.clientes a:hover {
    color: black;
    text-decoration: underline;
}
.btn-whatsapp {
    display: block;
    width: 80px;
    height: 100px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
  }
  .btn-whatsapp:hover {
    opacity: 0.5;
  }

/*

   _____             .___.__        
  /     \   ____   __| _/|__|____   
 /  \ /  \_/ __ \ / __ | |  \__  \  
/    Y    \  ___// /_/ | |  |/ __ \_
\____|__  /\___  >____ | |__(____  /
        \/     \/     \/         \/ 
                           .__               
  ________ __   ___________|__| ____   ______
 / ____/  |  \_/ __ \_  __ \  |/ __ \ /  ___/
< <_|  |  |  /\  ___/|  | \/  \  ___/ \___ \ 
 \__   |____/  \___  >__|  |__|\___  >____  >
    |__|           \/              \/     \/ 

*/


@media (min-width: 320px) {
    .cards h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: bold;
        padding: 200px 30px 30px 40px;
    }
    .textoPortfolio {
        margin: 10px 0 10px 0;
        padding: 0;
    }
    .textoPortfolio h3 {
        margin: 0;
        padding: 0;
    }
    .cards h2 {
        margin: 0;
        padding: 50px 10px 50px 10px;
        font-size: xx-large;
        text-align: left;
        line-height: 50px;
    }
    .colsClientes {
        height: auto;
        margin-top: 70px;
    }
    .clientes h2 {
        margin: 0;
        padding: 0;
    }
    .empezaAvenderMas {
        width: 90%;
    }
    .franja img {
        height: auto;
        width: 100%;
    }
    .porQueElegirnos h3 {
        font-size: 25px;
    }
    .contSeparador img {
        height: auto;
        width: 100%;
    }
    .posicionaTuNegocio img {
        height: auto;
        width: 100%;
    }
    .soporteTecnico img {
        height: auto;
        width: 100%;
    }
    .instagramHero img {
        height: auto;
        width: 100%;
    }
    .instagramHero h2 {
       font-size: x-large;
       margin: 0;
       padding: 20px 0 0 0;
    }
    .imgForm img {
        height: auto;
        width: 100%;
    }
    .queHacemos {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .queHacemos h2 {
        margin: 0;
        padding: 0;
    }
    .queHacemos p {
        margin: 0;
        padding: 0;
    }
    .queHacemos h3 {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 22px;
        line-height: 30px;
    }
    .gris {
        background-color: #F0F0F0;
    }
    .empezaAvenderOnline h2 {
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 375px) {}

@media (min-width: 414px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    .colImagenMax {
        width: 100%;
    }
    .textoPortfolio {
        width: 100%;
    }
    .empezaAvenderMas {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .colImagenMax {
        width: 50%;
    }
    .textoPortfolio {
        width: 50%;
    }
    .cards h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: bold;
        padding: 150px 30px 30px 40px;
    }
    .franja {
        height: auto;
        width: auto;
    }
    .franja img {
        height: auto;
        width: 100%;
    }
    .contSeparador img {
        height: auto;
        width: 100%;
    }
    .posicionaTuNegocio img {
        height: auto;
        width: 100%;
    }
    .soporteTecnico img {
        height: auto;
        width: 100%;
    }
    .contacto img {
        height: auto;
        width: 100%;
    }
    .textoPortfolio {
        margin: 0;
        padding: 20px;
    }
    .textoPortfolio h3 {
        margin: 0;
        padding: 0 0 10px 0;
    }
}

@media (min-width: 1440px) {
    .cards h2 {
        margin-top: 70px;
        font-size: 100px;
        line-height: 90px;
    }
    .instagramHero h2 {
        margin-top: 300px;
        font-size: 40px;
        line-height: 55px;
    }
    .empezaAvenderMas {
        width: 20%;
    }
    .clientes {
        padding: 50px 0 100px 0;
    }
    .queHacemos p {
        padding: 0 0 60px 0;
    }
    .empezaAvenderOnline {
        padding-top: 130px;
    }
    .empezaAvenderOnline h2 {
        padding-bottom: 20px;
    }
    .posicionaTuNegocio {
        padding-top: 130px;
    }
    .posicionaTuNegocio  h2{
        padding-bottom: 20px;
    }
    .soporteTecnico h2 {
        padding-bottom: 20px;
    }
    .cards h2 {
        font-size: 90px;
    }
    .soporteTecnico h2 {
        padding-top: 250px;
    }
}

@media (min-width: 2560px) {}